@tailwind base;
@tailwind components;
@tailwind utilities;
/* "theme-blue"
  | "theme-dark-blue"
  | "theme-purple"
  | "theme-green"
  | "theme-red"
  | "theme-yellow" */

/* | "inherit"
  | "primary" changes color
  | "secondary" always blue
  | "success" always green
  | "error" always red
  | "info" always aqua
  | "warning"; always orange */

@layer base {
  :root {
    --color-primary: #1e3a8a;
    --color-secondary: #1e40af;
    --color-success: #10b981;
    --color-error: #ef4444;
    --color-info: #3b82f6;
    --color-warning: #f59e0b;
  }

  .theme-blue {
    --color-primary: #1e40af;
  }
  .theme-dark-blue {
    --color-primary: #1e3a8a;
  }
  .theme-purple {
    --color-primary: #8b5cf6;
  }
  .theme-green {
    --color-primary: #10b981;
  }
  .theme-red {
    --color-primary: #ef4444;
  }
  .theme-yellow {
    --color-primary: #f59e0b;
  }
}
